Repository datajoint/datajoint-python, pull requests merged in 2025-04, with the labels that each got.

#1225 datajoint-python developer guide
  .gitignore
  CONTRIBUTION.md
  README.md
  docs/.docker/Dockerfile
  docs/.docker/apk_requirements.txt
  docs/.markdownlint.yaml
  docs/Dockerfile
  docs/README.md
  docs/docker-compose.yaml
  docs/mkdocs.yaml
  docs/pip_requirements.txt
  docs/src/.overrides/partials/nav.html
  docs/src/api/make_pages.py
  docs/src/citation.md
  docs/src/develop.md
Labels: enhancement, documentation

#1226 fix: 🔥 remove redundant contribution.md | check docs developer guide
  CONTRIBUTION.md
  docs/docker-compose.yaml
Labels: bug, enhancement, documentation

#1227 fix: 📝 update home url
  docs/src/.overrides/partials/nav.html
Labels: bug, enhancement, documentation

#1229 Update pyproject.toml
  pyproject.toml
Labels: enhancement

#1197 Document `dj.Top()` and add missing pages
  docs/src/client/stores.md
  docs/src/concepts/data-model.md
  docs/src/concepts/data-pipelines.md
  docs/src/concepts/teamwork.md
  docs/src/design/alter.md
  docs/src/design/integrity.md
  docs/src/design/tables/blobs.md
  docs/src/design/tables/customtype.md
  docs/src/design/tables/indexes.md
  docs/src/faq.md
  docs/src/internal/transpilation.md
  docs/src/manipulation/transactions.md
  docs/src/publish-data.md
  docs/src/query/restrict.md
  docs/src/quick-start.md
  docs/src/sysadmin/bulk-storage.md
  docs/src/sysadmin/database-admin.md
  docs/src/sysadmin/external-store.md
  docs/src/tutorials/dj-top.ipynb
  docs/src/tutorials/json.ipynb
Labels: enhancement, documentation
